/.idea
/PersonalAssistant.Core/obj
/PersonalAssistant.Core/bin
/PersonalAssistant.Tests/obj
/PersonalAssistant.Tests/bin
/PersonalAssistant/PersonalAssistant.Core/obj
/PersonalAssistant/PersonalAssistant.Core/bin
/PersonalAssistant/PersonalAssistant.Tests/obj
/PersonalAssistant/PersonalAssistant.Tests/bin
